.header{
    background-color: #f195b2;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .header-left{
        display: flex;
        justify-content: space-around;
        width: 50%;
        div{
            color: #fff;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            line-height: 50px;
        }

    }
    .header-right{

    }

}