.header{
    background-color: #f195b2;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .header-left{
        display: flex;
        justify-content: space-around;
        width: 50%;
        .header-phone{
          display: flex;
          align-items: center;
          gap: 7px;
        }
        div{
            color: #fff;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            line-height: 50px;
        }

    }
    .header-right{
        display: flex;
        gap: 22px;
        align-items: center;
        justify-content: space-around;
        .h_social {
            display: flex;              
            list-style: none;           
            margin: 0;
            padding: 0;
          }
          
          .h_social li {
            margin-left: 22px;         
          }
          

          .h_social li a {
            color: #fff;               
            text-decoration: none;
            font-size: 1.2rem;         
            transition: color 0.3s ease; 
          }
          
         
          .h_social li a:hover {
            color: #0073e6;             
          }
          
          .h_search {
            display: flex;              
            list-style: none;
            margin: 0;
            padding: 0;
          }
          
          .h_search li {
            margin-left: 22px;
          }
          .cart-tt{
            position: relative;
          }
          
          .h_search li a {
            color: #fff;                
            text-decoration: none;
            font-size: 1.2rem;
            transition: color 0.3s ease;
          }
          
          .h_search li a:hover {
            color: #0073e6;             
          }
          
          .tt-cart {
               height: 18px;
    width: 18px;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: inline-block;
    line-height: 18px;
    position: absolute;
    right: -16px;
    top: -10px;
          }
  

    }

}

@media screen and (max-width:400px) {
  .header{
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    .header-right , .header-left{
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .header-phone{
        justify-content: center;
      }
    }
    .header-right > *:nth-child(2) {
      display: none;
  }
  }
  
}