/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font and smooth scrolling */
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Ensure body takes full height */
body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
 
}




/* Links */
a {
  color: inherit;
  text-decoration: none;
}
